.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.tips {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  margin-left: 40px;
  border-radius: 10px;
  background: #fefefe 5px center/3em no-repeat;
  background-position: 5px 10px;
  position: relative;
}

.tipsp {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  margin-left: 40px;
  border-radius: 10px;
  background: #fefefe 5px center/3em no-repeat;
  background-position: 5px 10px;
  position: relative;
}

.r {
  border: 2px solid #2369bd;
  background-image: url("images/r.png");
  position: relative;
  z-index: 1;
}
.python {
  background-repeat: no-repeat;
  border: 2px solid #ffde4d;
  background-image: url("images/p.png");
  position: relative;
  z-index: 1;
}


.book .book-summary {
  background: #FEC42C;
  border-right: none;
}

.summary{
font-family: 'Verdana', sans-serif;
}


.summary a:hover {
  color: #1F737A !important;
} 

.book .book-summary ul.summary li.active>a { /*active TOC links*/
  color: #1F737A !important;
  border-left: solid 4px;
  border-color: #1F737A;
  padding-left: 11px !important;
}  


.title {
    font-family: 'Verdana';
    font-size: 19px;
}

.book .book-summary {
  width: 260px;
  position:absolute;
  top:0;
  left:-260px;
}

.book.with-summary .book-header.fixed {
    left: 260px;
}

.book.with-summary .book-body {
    left: 260px;
}

 .book.font-family-1 {
  font-family: 'Verdana', sans-serif;
 }
 

